.section-one{
    background-color: #e3c69f;
    width: 100%;
    height: 1322px; 
}
button{
    width: 180px;
    height: 64px;
    background-color: rgb(116, 60, 169);
    font-size: 19px;
    border-radius: 7px;
}
.text-div{
    width: 862px;
    height: 225px;
}
.one-header{
    font-size: 64px;
    line-height: 75px;
}
.header-text{
    font-size: 16px;
    width: 868px;
    height: 52px;
    color: #646161;
    margin-bottom: 13px;
    margin-top: 0px;
}
.one-div{
    text-align: -webkit-center;
}
.right-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #787676;
}
.div-right{
    margin-right: 105px;
    width: 537px;
    height: 297px;
}
.two-div{
    display: flex;
    /* flex-direction: initial; */
    align-items: baseline;
    justify-content: space-evenly;
}
.section-two{
}
.div-left{
    margin-left: 105px;
    margin-top: 81px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 12px;
}
.section-three{
    margin-top: 146px;
}
article{
    width: 586px;
    height: 171px;
    margin: 20px;
    box-shadow: 15px 2px 32px 8px rgba(100, 100, 123, 0.2);
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.div-left2{
    width: 591px;
    height: 988px;
}
.div-right2{
    width: 800px;
    height: 1059px;
}
.three-header{
    font-size: 45px;
    width: 468px;
    height: 106px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.three-text{
    font-size: 16px;
    width: 586px;
    height: 78px;
    color: #787676;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.article-header{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article-text{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #787676;
}
.section-three{
    display: flex;
    justify-content: space-evenly;
}